:root{
    --main-black: #101738;
    --main-blue: #444da3;
    --main-purple: #a852ca;
    --main-pink: #f865c7;
    --main-lightblue: #84f3f7;
    --main-white: #F5F5FA;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

a{
    text-decoration: none;
}

body {
    background: url(../assets/img/backgorund.png) bottom center fixed;
    background-size: cover;
    position: relative;
    color: var(--main-white);
    line-height: 1.5;
        &::after{
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: #9201cb84 ;
        mix-blend-mode: plus-lighter;
    }
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

h1{
    margin: 5rem auto;
    text-align: center;
    font-size: 4rem;
}

header{
    width: 100%;
    height: 75px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-black);
    position: sticky;
    top: 0;
    align-items: center;

    div{
        display: flex;
        gap: 3rem;
    }

    figure{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--main-purple);
        outline: 2px solid var(--main-purple);
        border-radius: 20px;
        padding: 2px 10px 2px 5px;
        height: 50px;
    }
}

main{
    overflow: hidden;
    border-radius: 20px;
    width: 95vw;
    margin: auto;
    min-height: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

#icono{
    width: 70px;
}

#filtros{
    width: 100%;
    height: 10%;
    background-color: hsla(from var(--main-blue) h s l / 90%);
}

#catalogo{
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    max-height: 1000px;
    padding: 20px;
    background-color: hsla(from var(--main-black) h s l / 70%);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.carta{
    width: 90%;
    height: 350px;
    background-color: var(--main-blue);
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    figure{
        margin-top: 50px;
    }
}

.modal{
    position: absolute;
    inset: 200px;
    background-color: var(--main-pink);
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;

    a{
        background-color: var(--main-pink);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        height: 30px;
        width: 100%;
        margin: auto;
        /* mask: url(../assets/img/Mask.png) center center no-repeat;
        mask-size: 70%; */
    }
}

footer{
    min-height: 10vh;
}

@media screen and (width >= 768px){

    #catalogo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .carta{
        width: 40%;
    }
}

@media screen and (width >= 1024px){

    main{
        flex-direction: row;
    }
    
    #filtros{
        width: 20%;
        height: 1000px;
        max-height: 1000px;
        ul{
            height: 100%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
            list-style: none;
            gap: 20px;
        }
    }

    #catalogo{
        width: 80%;
        height: 1000px;
        align-items: center;
    }

    .carta{
        width: 30%;
    }
}

@media screen and (width >= 1470px){
    .carta{
        width: 20%;
    }
}



