:root{
    --main-black: #070F34;
    --main-blue: #0313A6;
    --main-purple: #9201CB;
    --main-pink: #F715AB;
    --main-lightblue: #34EDF3;
    --main-white: #F5F5FA;
}

html {
box-sizing: border-box;
scroll-behavior: smooth;
}
*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: inherit;
}

img, picture, video, svg, canvas {
max-width: 100%;
display: block;
}

input, button, textarea, select {
font: inherit;
}

body {
    background: url(../assets/img/backgorund.png) bottom center fixed;
    background-size: cover;
    position: relative;
    color: var(--main-white);
    line-height: 1.5;
        &::after{
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: #9201cb84 ;
        mix-blend-mode: plus-lighter;
    }
}

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
overflow-wrap: break-word;
}

h1{
    margin: 5rem auto;
    text-align: center;
    font-size: 4rem;
}

header{
    width: 100%;
    height: 75px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-black);
    position: sticky;
    top: 0;
    align-items: center;

    :first-child{
        display: flex;
        gap: 3rem;
    }
}

main{
    overflow: hidden;
    border-radius: 20px;
    width: 95vw;
    margin: auto;
    min-height: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

#filtros{
    width: 100%;
    height: 10%;
    background-color: hsla(from var(--main-blue) h s l / 90%);
}

#catalogo{
    overflow: scroll;
    scrollbar-width: none;
    width: 100%;
    max-height: 1000px;
    background-color: hsla(from var(--main-black) h s l / 70%);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.producto{
    width: 90%;
    background-color: var(--main-blue);
    aspect-ratio: 1 / 1.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    a{
        background-color: var(--main-pink);
        text-align: center;
        padding: 10px;
        height: 30px;
        width: 60%;
        margin: auto;
        mask: url(../assets/img/Mask.png) center center no-repeat;
        mask-size: 70%;
    }
}

footer{
    min-height: 10vh;
}

@media screen and (width >= 768px){

    #catalogo{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .producto{
        width: 40%;
    }
}

@media screen and (width >= 1024px){

    main{
        flex-direction: row;
    }
    
    #filtros{
        width: 20%;
        height: 1000px;
        max-height: 1000px;
    }

    #catalogo{
        width: 80%;
        height: 1000px;
        align-items: center;
    }

    .producto{
        width: 30%;
    }
}

@media screen and (width >= 1470px){
    .producto{
        width: 20%;
    }
}



